/* Style på index.html flyttad till style.css

.start{
    border: 3px solid red;
    padding-top: 20%;
    text-align: center;
    /* display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

h1.welcomelogin{
    font-size: 5rem;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: auto;
    width: auto;
    margin: 5rem 0rem 2rem;
}

.signup-link{
    height: 200px;
    width: 200px;
    border: lightgray solid 1px;
}
.login-link{
    height: 200px;
    width: 200px;
    border: lightgray solid 1px;
}

#login{
    text-decoration: none;
    position: relative;
    top: 40%;
}
#signup{
    text-decoration: none;
    position: relative;
    top: 40%; 
}

#login, #signup{
    color: black;
    cursor: pointer;
    font-size: 3vw;
} */
