/* Style på index.html  */
.start{
    padding-top: 20%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-content: column;
}
h1.loginOrRegister{
    margin: 1rem;
}

.signup-link{
    height: 200px;
    width: 200px;
    border: lightgray solid 1px;
}
.login-link{
    height: 200px;
    width: 200px;
    border: lightgray solid 1px;
}
#login{
    text-decoration: none;
    position: relative;
    top: 40%;
}
#signup{
    text-decoration: none;
    position: relative;
    top: 40%;
}
#login, #signup{
    color: black;
    cursor: pointer;
    font-size: 3vw;
}
