*{
    margin: 0%;
    padding: 0%;    
}
.login-form, .signup-form{
    width: 500px;
    margin: 12% auto;
    padding: 50px;
    border: 3px solid black;
    color: black;
}
h1{
    text-align: center;
    margin-bottom: 40px;
}
.input-box{
    margin: auto;
    width: 80%;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 5px;
}
input{
    border: none;
    outline: none;
    background: transparent;
    width: 90%;
}
::placeholder{
    color: gray;
}
.fa{
    margin-right: 10px;
}
.eye{
    position: absolute;
}
#hide2{
    display: none;
}
.login-btn, .signup-btn{
    margin: 40px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0%;
    border: 1px solid black;
    cursor: pointer;
    background: transparent;
    color: black;
    font-size: 16px;    
}
.requirement{
    font-size: 10px;
    position: relative;
    left: 10%;
    bottom: 10%;
}