/* Style för login.php och sign-up.php */

* {
  margin: 0%;
  padding: 0%;
}

.login-form,
.signup-form {
  margin: 80px 20%;
  padding: 20px 0px;
  border: 3px solid;
  text-align: center;
}

.input-box {
  margin: 0% auto;
  width: 80%;
  border-bottom: 1px solid;
  padding: 25px 0px 5px;
}

.input-box-password-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 79%;
    height: auto;
    margin-left: 10%;
}


.input-box-password {
    margin: 0%;
    width: 100%;
    border-bottom: 1px solid;
    padding: 25px 0px 5px;
  }

input {
  margin: 5px;
  border: none;
  outline: none;
  background: transparent;
  width: 90%;
}

::placeholder {
  color: gray;
}

/* Det där j**** ögat */

.eye {
    border-bottom: 1px solid;
    width: auto;
    width: 22px;
    height: 22px;

  }
  
.fa {
  border: none;
}


#hide2 {
  display: none;
}

/* Login och signup submit knappen */

.login-btn,
.signup-btn {
  margin: 40px auto 40px;
  width: 80%;
  display: block;
  outline: none;
  padding: 10px 0%;
  border: 1px solid black;
  cursor: pointer;
  background: transparent;
  color: black;
  font-size: 16px;
}









/* BREAKPOINTS */

/* Extra small devices (phones, 768px (egentligen 600px) and down) */
@media only screen and (max-width: 768px) {
  .login-form,
  .signup-form {
    margin: 40px 3.5%;
    padding: 20px;
  }
}





/* Medium devices (landscape tablets, 600px and up) */
@media only screen and (min-width: 768px) {
  body {
    justify-content: center;
  }

  div#header-logo img {
    width: 32vw;
  }

  .login-form,
  .signup-form {
    margin: 10% 20%;
  }

  h2 {
    font-size: 2.7vw;
    padding: 2%;
  }

  input, ::placeholder {
    font-size: 1.7vw;
    margin-top: 5%;
  }

  .input-box {
    margin: 0% auto;
    width: 80%;
    border-bottom: 1px solid;
    padding: 25px 0px 5px;
  }

  .input-box-password-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 79%;
    height: auto;
    margin-left: 10%;
    }


    .input-box-password {
    margin: 0%;
    width: 100%;
    border-bottom: 1px solid;
    padding: 25px 0px 5px;
  }

  .login-btn,
  .signup-btn {
    margin: 4vw auto 2vw;
    font-size: 2vw;
    padding: 2%;
  }

}
