body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

form {
    border: 3px solid #bebebe;
}


/* Style på länkar */

a:link, a:visited {
    text-decoration: none;
    color: grey;
}
  
a:hover, a:active {
    text-decoration: underline;
}



/* Rubriker  */


h1 {
    border: red solid 3px;
    font-size: 5rem;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: auto;
    width: auto;

}

h2 {
    font-size: 3rem 1rem;
    text-align: center;

}

h3 {
    font-size: 1rem;
}


/* Style på index.html  */

.start {
    border: green 3px solid;
}

.signin-link{
    border-color: blue;
}

.login-link{
    border-color: red;
}


/* Style på posts loggedin.php*/


#post-container{
    border: green solid 3px;
    align-items: center;
    width: 100%;
    height: auto;
}

#posts{
    border: blue solid 3px;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.post{
    border: red solid 3px;
    width: 20rem;
    height: 33rem;
    text-align: center;
    margin:0.5rem;
    padding:0.5rem;

}


/* Style på post.php, skapa inlägg */
.post-form{
    border: grey solid 3px;
}

/* Style på comments */


/* Style på knapparna Redigera och Ta bort */
.edit{

}

.delete{

}

.comments{

}

/* Style på footer */

footer{
    text-align: center;
    color: lightgray;
}


