*{
    margin: 0%;
    padding: 0%;
    
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

form {
    border: 3px solid #bebebe;
}


/* Style på länkar */

a:link, a:visited {
    text-decoration: none;
    color: grey;
}
  
a:hover, a:active {
    text-decoration:none;
    border: 2.5rem solid rgba(0, 0, 0, 0);
}



/* Rubriker  */

/* Welcome..  */
h1 { 
    font-size: 5rem;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: auto;
    width: auto;
    margin: 5rem 0rem 2rem;


}

h2 {
    font-size: 3rem 1rem;
    text-align: center;
    padding: 1rem 0rem;
}

h3 {
    border: rgb(117, 50, 61) solid 3px;
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1rem 0rem ;
}

.latestpost
{
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1rem 0rem ;
}

span {
    border: lightgray solid 1px;
    width: auto;
    height: auto;
    margin:1rem;
    padding:0.5rem 2rem;
}
/* Style på loggedin.php*/

header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.header-logo {
    width: 10rem;
    padding: 0rem 1rem ;
}

.welcome-text {
    text-align: center;
    width: 35rem;
    margin-bottom: 2rem;
}

.loggaut-knapp {
    border: lightgray solid 1px;
    width: auto;
    height: auto;
    padding:0.5rem 2rem;
    margin:0.5rem 2rem 7rem;

}



#post-container{
    border: green solid 3px;
    background-color: rgb(243, 243, 243);
    width: auto;
    height: auto;
    display: flex;
    flex-flow:column wrap;
    align-items: center;
}

.post{
    border: lightgray solid 1px;
    background-color: white;
    width: 40rem;
    height: auto;
    margin:1rem;
    padding:2rem 5rem;

}

p.date {
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 0.5rem;

}

img {
    width: 40rem;
}

.description {
    width: 30rem;
    margin: 2.5rem 5rem;
    letter-spacing: 0.05rem;
    line-height: 1.6;

}



/* Style på post.php, skapa inlägg */
.post-form{
    border: grey solid 3px;
}


/* Style på footer */

.footer{
    text-align: center;
    color: lightgray;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 1rem;
}






/* Sign-up */


label
{
    display:none;
    
}

.signup-form {
    border: blue solid 3px;


}