*{
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
    }


/* Style på länkar */

a:link, a:visited {
    text-decoration: none;
    color: black;
    border: black solid 1px;
    width: auto;
    height: auto;
    padding:0.5rem 2rem;
}
  
a:hover{
    background-color: rgba(134, 134, 134, 0.192);
}

/* RUBRIKER  */

/* Welcome..  */
h1 { 
    font-size: 5rem;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: auto;
    width: auto;
    margin: 5rem 0rem 2rem;
}

h2 {
    font-size: 3rem 1rem;
    text-align: center;
    padding: 1rem 0rem;
}

h3 {
    font-size: 2rem 1rem;
}

h4 {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1rem 0rem ;
}

h5 {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1rem 0rem ;
    margin-top: 2rem;
}


span {
    width: auto;
    height: auto;
    margin:1rem;
    padding:0.5rem 2rem;
}

p {
    padding-bottom: 0.3rem;
}


/* Style på index.html */
.startpage-container {
    border-top: 3px solid black;
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: column wrap; 
    padding:1rem 2rem 4rem;
}

p.welcomeLogin {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
    margin: 2rem;
}

#login, #signup{
    margin-bottom: 0px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
    p.welcomeLogin {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 3vw;
        margin: 3vw;
    }
    
    #login{
        margin-bottom: 10%;
        font-size: 2vw;

    }

    #signup {
        margin-bottom: 10%;
        font-size: 2vw;
    }
}






/* Style på loggedin.php*/

header {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

header a:link{
    border:none;
}

header a:hover{
    background-color: transparent;
}

#header-logo {
    min-width: 11.5rem;
    max-width: 11.5rem;
    padding-left: 1rem;
    border:none;
}

div#header-logo img {
    width: 15rem;
}


.welcome-text {
    text-align: center;
    width: 35rem;
    margin-bottom: 2rem;
}

.loggaut-knapp {
    margin:0.5rem 2rem 7rem;
}

.latestpost
{
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 1rem 0rem ;
}

#post-container{
    background-color: rgb(243, 243, 243);
    width: auto;
    height: auto;
    display: flex;
    flex-flow:column wrap;
    align-items: center;
}

.post{
    border: lightgray solid 1px;
    background-color: white;
    width: 40rem;
    height: auto;
    margin:1rem;
    padding:2rem 5rem;
}

p.date {
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 0.5rem;
}

.description {
    width: 30rem;
    margin: 2.6rem 5rem;
    letter-spacing: 0.02rem;
    line-height: 1.6;
    
}


.post img {
    width: 40rem;
}

.post a:link{
    border:none;
    padding:0rem;
}

.post a:hover{
    background-color: transparent;
}


.postbuttons{
    display: flex;
    justify-content: center;
    margin: 1.5rem;

    /* 
    flex-flow: column wrap;
    width: 30%;
    text-align: center; */
}

.postbuttons a:link{
    border:black 1px solid;
    padding:1rem 2rem;
}

.postbutton a:hover{
    background-color: rgba(134, 134, 134, 0.192);
}

.loggaut-knapp-create {
    margin-top:1.4rem;
}

/* Style på post.php, skapa inlägg*/
.postform-container {
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-flow:column wrap;
    align-items: center;
    width: 100%;
}

.post-form {
    width: 26rem;
    padding:2rem;
    margin:auto;
}




/* Style på editPost.php */

/* img .header-logo-img {
    width: 11rem;
} */
.editPost-container{
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-flow:column wrap;
    align-items: center;
    width: 100%;
}

.editPost-form {
    width: 26rem;
    padding:2rem;
    margin:auto;
}

.title-input,
.description-input,
.imageUrl,
.image-upload,
.category-input,
.date-input,
.submit-button
{
    font-size: 1rem;
    margin: 1rem;
}

input, textarea{
    border: 1px solid black;
    padding: 0.3rem;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style på submit/update knappen på edit comment */

.submit-button input{
    border:1px black solid;
    padding:1rem 2.5rem;
    text-decoration: none;
    margin-top: 1rem;
    font-size: 0.9rem;
}



/* Style på footer */

.footer{
    text-align: center;
    color: lightgray;
    font-size: 1rem;
    padding: 1rem;
}


