<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start page</title>
</head>
<body>



<header>
    <img src="/image/logos/Millhouse-logos.jpeg" alt="Logo Millhouse" width="200">
</header>

<main>

<div id = "Posts">

<div class ="Glasses">
    <h2>Retro glasses</h2>
    <img src="/image/pictures/pexels-ali-pazani-2811088.jpg" alt="Girl with orange glasses" width="200">
    <figcaption><p>Beautiful retro glasses with orange tone</p></figcaption>
</div>

<div class ="Watch">
    <h2>Cool watch</h2>
    <img src="/image/pictures/pexels-taryn-elliott-4684396.jpg" alt="Girl with a watch" width="200">
    <figcaption><p>Cool watch to match with the rest of your accessories</p></figcaption>
</div>

<div class ="Glass">
    <h2>Classy drink-glasses</h2>
    <img src="/image/pictures/pexels-isabella-mendes-338713.jpg" alt="Glass with a orange drink" width="200">
    <figcaption><p>Classy drink-glasses ready to serve</p></figcaption>

</div>

</div>

</main>

<footer>
</footer>


    
</body>
</html>